In [2]:
# Import and read the data
import pandas as pd
import numpy as np
df = pd.read_csv(r'\Users\farah\DAFT_0116\Data clean\fake_job_postings.csv')

In [3]:
df.shape

(17880, 18)

In [4]:
# Print the % of empty cells in the data
# Top offenders (>40%) are: Salary range, Department, Benefits, required_experience, required_education...
# We decide to drop department, salary_range and benefits and try to repair the rest
# Loi : Localisation, titre du poste, fiche de poste
print("Missing values distribution: ")
print(df.isnull().mean())

Missing values distribution:
job_id                 0.000000
title                  0.000000
location               0.019351
department             0.645805
salary_range           0.839597
company_profile        0.185011
description            0.000056
requirements           0.150727
benefits               0.403244
telecommuting          0.000000
has_company_logo       0.000000
has_questions          0.000000
employment_type        0.194128
required_experience    0.394295
required_education     0.453300
industry               0.274217
function               0.361018
fraudulent             0.000000
dtype: float64

In [5]:
df.drop(['department','salary_range','benefits'], axis = 1, inplace = True)

In [7]:
df.shape
#columns have been dropped

(17880, 15)

In [8]:
df.isnull().mean()

job_id                 0.000000
title                  0.000000
location               0.019351
company_profile        0.185011
description            0.000056
requirements           0.150727
telecommuting          0.000000
has_company_logo       0.000000
has_questions          0.000000
employment_type        0.194128
required_experience    0.394295
required_education     0.453300
industry               0.274217
function               0.361018
fraudulent             0.000000
dtype: float64

In [9]:
rows = df[(df['required_education'].isnull()==True) & (df['required_experience'].isnull()==True) & (df['function'].isnull()==True)]
rows.shape

(4587, 15)

In [10]:
drop_rows = list(rows.index)
df_clean = df.drop(drop_rows, axis=0) #rows

In [11]:
df_clean.shape

(13293, 15)

In [28]:
df_clean.isnull().mean()

job_id                 0.000000
title                  0.000000
location               0.008125
company_profile        0.160536
description            0.000000
requirements           0.077560
telecommuting          0.000000
has_company_logo       0.000000
has_questions          0.000000
employment_type        0.043858
required_experience    0.185285
required_education     0.264651
industry               0.093508
function               0.140525
fraudulent             0.000000
dtype: float64

In [18]:
df_clean.to_csv('df_clean.csv')

In [20]:
df_clean[df['function'].isnull()==True]

C:\Users\farah\AppData\Local\Temp\ipykernel_11060\3203978501.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean[df['function'].isnull()==True]

,job_id,title,location,company_profile,description,requirements,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
8,9,HP BSM SME,"US, FL, Pensacola",Solutions3 is a woman-owned small business who...,Implementation/Configuration/Testing/Training ...,MUST BE A US CITIZEN.An active TS/SCI clearanc...,0,1,1,Full-time,Associate,NaN,Information Technology and Services,NaN,0
35,36,English Teacher Abroad,"US, NY, Saint Bonaventure",We help teachers get safe &amp; secure jobs ab...,"Play with kids, get paid for it Love travel? J...",University degree required. TEFL / TESOL / CEL...,0,1,1,Contract,NaN,Bachelor's Degree,Education Management,NaN,0
36,37,Graduates: English Teacher Abroad,"US, NY, Yonkers",We help teachers get safe &amp; secure jobs ab...,"Play with kids, get paid for it :-)Love travel...",University degree required. TEFL / TESOL / CEL...,0,1,0,Contract,NaN,Bachelor's Degree,Education Management,NaN,0
40,41,English Teacher Abroad,"US, PA, Kutztown",We help teachers get safe &amp; secure jobs ab...,"Play with kids, get paid for it Love travel? J...",University degree required. TEFL / TESOL / CEL...,0,1,1,Contract,NaN,Bachelor's Degree,Education Management,NaN,0
41,42,English Teacher Abroad,"US, CA, Sacramento",We help teachers get safe &amp; secure jobs ab...,"Play with kids, get paid for it Love travel? J...",University degree required. TEFL / TESOL / CEL...,0,1,1,Contract,NaN,Bachelor's Degree,Education Management,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17772,17773,Sales professionals,"AU, QLD, Gold coast",NaN,International media company looking for motiva...,highly motivated to create successprofessional...,0,0,1,Other,Not Applicable,Unspecified,Marketing and Advertising,NaN,1
17805,17806,Receptionist,"GB, ,",NaN,We the Montcalm Hotel are looking for the posi...,Good Requirement,0,0,0,Full-time,Entry level,NaN,Hospitality,NaN,1
17817,17818,CSR,"US, LA, Slidell",NaN,Now hiring CSR / Advertising representatives t...,NaN,0,0,0,Part-time,Entry level,NaN,Online Media,NaN,1
17839,17840,SAS Grid Developer,"US, NJ, Berkeley Heights",NaN,Job Title: SAS Grid DeveloperDuration: 06+ mon...,Mandatory Technical /Functional Skills:• IT ex...,0,0,0,Contract,Mid-Senior level,NaN,NaN,NaN,0
17845,17846,Junior Game Designer,"CA, , Ottawa",Magmic is a leading developer and publisher of...,Junior Game Designer responsibilities include:...,Keen interest in the casual gaming and mobile ...,0,1,0,Full-time,Entry level,NaN,NaN,NaN,0

In [29]:
df_clean['function'].value_counts()

Information Technology    1749
Sales                     1468
Engineering               1348
Customer Service          1229
Marketing                  830
Administrative             630
Design                     340
Health Care Provider       338
Other                      325
Education                  325
Management                 317
Business Development       228
Accounting/Auditing        212
Human Resources            205
Project Management         183
Finance                    172
Consulting                 144
Writing/Editing            132
Art/Creative               132
Production                 116
Product Management         114
Quality Assurance          111
Advertising                 90
Business Analyst            84
Data Analyst                82
Public Relations            76
Manufacturing               74
General Business            68
Research                    50
Legal                       47
Strategy/Planning           46
Training                    38
Supply Chain                36
Financial Analyst           33
Distribution                24
Purchasing                  15
Science                     14
Name: function, dtype: int64

In [34]:
df_clean['title'].value_counts().head(60)

English Teacher Abroad                                311
Customer Service Associate                            146
Graduates: English Teacher Abroad (Conversational)    144
English Teacher Abroad                                 95
English Teacher Abroad (Conversational)                83
Customer Service Associate - Part Time                 76
Account Manager                                        67
Graduates: English Teacher Abroad                      57
Software Engineer                                      53
Web Developer                                          52
Customer Service Representative                        48
Customer Service Associate                             44
Sales Representative                                   41
Administrative Assistant                               40
Customer Service Team Lead                             40
Project Manager                                        40
Account Executive                                      38
Office Manager                                         38
Marketing Manager                                      38
Product Manager                                        37
Senior Software Engineer                               37
iOS Developer                                          31
Contact Center Representatives                         31
Front End Developer                                    31
Software Developer                                     30
Customer Service Technical Specialist                  26
Entry Level Sales                                      26
Data Scientist                                         23
Web Designer                                           23
Business Development Manager                           23
Android Developer                                      21
PHP Developer                                          21
English Teacher Overseas                               21
Java Developer                                         21
DevOps Engineer                                        20
Physical Therapist                                     20
Data Analyst                                           19
Collections Supervisor                                 19
QA Engineer                                            19
Graphic Designer                                       19
Business Analyst                                       19
Sales Director                                         18
Associate Business Development                         17
Sales Manager                                          17
Systems Engineer                                       17
Executive Assistant                                    17
Marketing Representative                               17
Agent-Inbound Sales Position                           16
Sales Executive                                        16
Accountant                                             16
Customer Service Associate - On Call                   16
Marketing Associate                                    16
UI/UX Designer                                         15
Customer Service Associate - Part Time                 15
Inside Sales Representative                            15
Marketing Intern                                       15
UX Designer                                            14
Community Manager                                      14
Head of Marketing                                      14
Product Designer                                       14
Name: title, dtype: int64

In [13]:
df_clean['required_experience'].value_counts()

Mid-Senior level    3809
Entry level         2697
Associate           2297
Not Applicable      1116
Director             389
Internship           381
Executive            141
Name: required_experience, dtype: int64

In [14]:
lst = list(df_clean['required_experience'].unique())
lst

['Internship',
 'Not Applicable',
 'Mid-Senior level',
 'Associate',
 'Entry level',
 'Executive',
 nan,
 'Director']

In [15]:
dic = dict(df_clean.loc[df_clean['required_experience']=='Mid-Senior level']['required_education'].value_counts())
for j in dic:
    print(j)

Bachelor's Degree
Unspecified
Master's Degree
High School or equivalent
Certification
Associate Degree
Professional
Vocational
Doctorate
Some College Coursework Completed
Vocational - Degree
Some High School Coursework
Vocational - HS Diploma

In [16]:
for i in lst:
    j = df_clean.loc[df_clean['required_experience']==i]['required_education'].value_counts()
    print(j)

Bachelor's Degree                    94
Some College Coursework Completed    47
Unspecified                          42
High School or equivalent            39
Master's Degree                      13
Associate Degree                      6
Certification                         4
Professional                          3
Vocational                            1
Name: required_education, dtype: int64
High School or equivalent            371
Unspecified                          318
Bachelor's Degree                    140
Certification                         39
Master's Degree                        9
Professional                           8
Some College Coursework Completed      6
Vocational                             2
Associate Degree                       2
Some High School Coursework            1
Vocational - Degree                    1
Name: required_education, dtype: int64
Bachelor's Degree                    1994
Unspecified                           367
Master's Degree                       158
High School or equivalent             123
Certification                          44
Associate Degree                       43
Professional                           30
Vocational                             14
Doctorate                              11
Some College Coursework Completed       5
Vocational - Degree                     3
Some High School Coursework             1
Vocational - HS Diploma                 1
Name: required_education, dtype: int64
Bachelor's Degree                    1021
Unspecified                           289
High School or equivalent             243
Associate Degree                      133
Master's Degree                        52
Certification                          35
Some College Coursework Completed      21
Vocational                             17
Professional                           17
Doctorate                               7
Vocational - HS Diploma                 1
Name: required_education, dtype: int64
High School or equivalent            1193
Bachelor's Degree                     710
Unspecified                           276
Associate Degree                       57
Some High School Coursework            23
Certification                          22
Master's Degree                        21
Some College Coursework Completed      20
Vocational                             11
Doctorate                               2
Vocational - Degree                     2
Professional                            2
Vocational - HS Diploma                 2
Name: required_education, dtype: int64
Bachelor's Degree            64
Master's Degree              22
Unspecified                   5
Doctorate                     3
Professional                  3
Associate Degree              1
High School or equivalent     1
Name: required_education, dtype: int64
Series([], Name: required_education, dtype: int64)
Bachelor's Degree                    189
Master's Degree                       57
Unspecified                           30
Associate Degree                       8
Professional                           4
Doctorate                              2
High School or equivalent              2
Certification                          2
Some College Coursework Completed      1
Name: required_education, dtype: int64