In [1]:
# Import and read the data
import pandas as pd
import numpy as np
df = pd.read_csv('fake_jobs.csv',low_memory=False)

FileNotFoundError: [Errno 2] No such file or directory: 'fake_jobs.csv'

In [48]:
df.shape

(17880, 18)

In [49]:
# Print the % of empty cells in the data
# Top offenders (>40%) are: Salary range, Department, Benefits, required_experience, required_education...
# We decide to drop department, salary_range and benefits and try to repair the rest
# Loi : Localisation, titre du poste, fiche de poste
print("Missing values distribution: ")
print(df.isnull().mean())

Missing values distribution:
job_id                 0.000000
title                  0.000000
location               0.019351
department             0.645805
salary_range           0.839597
company_profile        0.185011
description            0.000056
requirements           0.150727
benefits               0.403244
telecommuting          0.000000
has_company_logo       0.000000
has_questions          0.000000
employment_type        0.194128
required_experience    0.394295
required_education     0.453300
industry               0.274217
function               0.361018
fraudulent             0.000000
dtype: float64

In [50]:
df.drop(['department','salary_range','benefits'], axis = 1, inplace = True)

In [51]:
df.shape
#columns have been dropped

(17880, 15)

In [52]:
df.isnull().mean()

job_id                 0.000000
title                  0.000000
location               0.019351
company_profile        0.185011
description            0.000056
requirements           0.150727
telecommuting          0.000000
has_company_logo       0.000000
has_questions          0.000000
employment_type        0.194128
required_experience    0.394295
required_education     0.453300
industry               0.274217
function               0.361018
fraudulent             0.000000
dtype: float64

In [53]:
rows = df[(df['required_education'].isnull()==True) & (df['required_experience'].isnull()==True) & (df['function'].isnull()==True)]
rows.shape

(4587, 15)

In [54]:
drop_rows = list(rows.index)
df_clean = df.drop(drop_rows, axis=0) #rows

In [55]:
df_clean.shape

(13293, 15)

In [56]:
df_clean.isnull().mean()

job_id                 0.000000
title                  0.000000
location               0.008125
company_profile        0.160536
description            0.000000
requirements           0.077560
telecommuting          0.000000
has_company_logo       0.000000
has_questions          0.000000
employment_type        0.043858
required_experience    0.185285
required_education     0.264651
industry               0.093508
function               0.140525
fraudulent             0.000000
dtype: float64

In [58]:
df_clean['required_experience'].value_counts()

Mid-Senior level    3809
Entry level         2697
Associate           2297
Not Applicable      1116
Director             389
Internship           381
Executive            141
Name: required_experience, dtype: int64

In [74]:
lst = list(df_clean['required_experience'].unique())
lst

['Internship',
 'Not Applicable',
 'Mid-Senior level',
 'Associate',
 'Entry level',
 'Executive',
 nan,
 'Director']

In [81]:
dic = dict(df_clean.loc[df_clean['required_experience']=='Mid-Senior level']['required_education'].value_counts())
for j in dic:
    print(j)

Bachelor's Degree
Unspecified
Master's Degree
High School or equivalent
Certification
Associate Degree
Professional
Vocational
Doctorate
Some College Coursework Completed
Vocational - Degree
Some High School Coursework
Vocational - HS Diploma

In [75]:
for i in lst:
    j = df_clean.loc[df_clean['required_experience']==i]['required_education'].value_counts()
    print(j)

Bachelor's Degree                    94
Some College Coursework Completed    47
Unspecified                          42
High School or equivalent            39
Master's Degree                      13
Associate Degree                      6
Certification                         4
Professional                          3
Vocational                            1
Name: required_education, dtype: int64
High School or equivalent            371
Unspecified                          318
Bachelor's Degree                    140
Certification                         39
Master's Degree                        9
Professional                           8
Some College Coursework Completed      6
Vocational                             2
Associate Degree                       2
Some High School Coursework            1
Vocational - Degree                    1
Name: required_education, dtype: int64
Bachelor's Degree                    1994
Unspecified                           367
Master's Degree                       158
High School or equivalent             123
Certification                          44
Associate Degree                       43
Professional                           30
Vocational                             14
Doctorate                              11
Some College Coursework Completed       5
Vocational - Degree                     3
Some High School Coursework             1
Vocational - HS Diploma                 1
Name: required_education, dtype: int64
Bachelor's Degree                    1021
Unspecified                           289
High School or equivalent             243
Associate Degree                      133
Master's Degree                        52
Certification                          35
Some College Coursework Completed      21
Vocational                             17
Professional                           17
Doctorate                               7
Vocational - HS Diploma                 1
Name: required_education, dtype: int64
High School or equivalent            1193
Bachelor's Degree                     710
Unspecified                           276
Associate Degree                       57
Some High School Coursework            23
Certification                          22
Master's Degree                        21
Some College Coursework Completed      20
Vocational                             11
Doctorate                               2
Vocational - Degree                     2
Professional                            2
Vocational - HS Diploma                 2
Name: required_education, dtype: int64
Bachelor's Degree            64
Master's Degree              22
Unspecified                   5
Doctorate                     3
Professional                  3
Associate Degree              1
High School or equivalent     1
Name: required_education, dtype: int64
Series([], Name: required_education, dtype: int64)
Bachelor's Degree                    189
Master's Degree                       57
Unspecified                           30
Associate Degree                       8
Professional                           4
Doctorate                              2
High School or equivalent              2
Certification                          2
Some College Coursework Completed      1
Name: required_education, dtype: int64